* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0b0b;
  color: white;
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 50px;
  background-color: #201e1e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav a:hover {
  color: #1da1ff;
  cursor: pointer;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.profile-avatar {
  width: 35px;
  height: 35px;
  border-radius: 60%;
  padding: 2px;
  background: linear-gradient(180deg, #1da1ff, #4facfe);
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #111;
}

.profile-arrow {
  width: 16px;
  height: 16px;
  opacity: 0.7;
  transition: 0.3s;
}

.profile-wrapper:hover .profile-arrow {
  transform: rotate(180deg);
  opacity: 0.5;
}

.profile-wrapper:hover .profile-avatar {
  filter: brightness(1.15);
}

/* Hero */
.hero {
  height: 70vh;
  background: url("https://media.themoviedb.org/t/p/w1066_and_h600_face/coaPCIqQBPUZsOnJcWZxhaORcDT.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.2));
}

.hero-content {
  position: relative;
  max-width: 450px;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-desc {
  color: #ddd;
  line-height: 1.6;
  margin-bottom: 25px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-play {
  background: #1da1ff;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 60px;
  cursor: pointer;
  color: white;
}

.btn-info {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 14px 30px;
  color: white;
  border-radius: 60px;
  cursor: pointer;
}

.btn-age {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

/* Section */
.section {
  width: 100%;
  padding: 40px 60px;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

/* Movie Grid */
.movie-horizontal img {
  width: 300;
  height: 100px;

  border-radius: 12px;
  transition: 0.4s;
  cursor: pointer;
}
.movie-horizontal img:hover {
  transform: scale(1.15);

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
}

.movie-grid {
  display: flex;
  gap: 18px;
  padding-bottom: 15px;
}

.movie-grid img {
  width: 170px;
  height: 250px;

  border-radius: 12px;
  transition: 0.4s;
  cursor: pointer;
}

.movie-grid img:hover {
  transform: scale(1.15);

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
}

/* Footer */

.footer {
  background: #0e0e0e;
  padding: 70px 60px;
  border-top: 1px solid #222;
}

.footer-container {
  display: grid;
  grid-template-columns: 1.2fr 2fr 1fr;
  gap: 40px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-brand p {
  color: #888;
  font-size: 14px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-col {
  display: grid;
  grid-template-columns: repeat(2, 1.2fr);
  row-gap: 5px;
  column-gap: 20px;
  justify-content: space-between;
}

.footer-col a {
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #1da1ff;
}

.footer-help h4 {
  margin-bottom: 5px;
  font-size: 16px;
}

.footer-help {
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
}

.footer-help a {
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.footer-help a:hover {
  color: #1da1ff;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-col {
    grid-template-columns: 1fr 1fr;
  }
}

/* Responsif */
@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .hero {
    padding: 0 30px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .movie-grid img {
    width: 130px;
    height: 200px;
  }
}
