* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Backgrounds */
.bg {
  width: 100%;
  height: 100vh;
  background: url("https://image.tmdb.org/t/p/w500/2vFuG6bWGyQUzYS9d69E5l85nIz.jpg") center / cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(66, 65, 76, 0.798);
  backdrop-filter: blur(4px);
}

/* Login card */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 380px;
  padding: 30px;
  border-radius: 18px;

  background: rgba(25, 25, 25, 0.85);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  color: white;
}

/* Welcome text */
.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.headline h2 {
  margin: 0;
  color: #fff;
}

/* User Input */
.user-input label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 45px;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}

.toggle-password:hover {
  opacity: 0.2;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

/* Links */
.links {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 13px;
}

.links a {
  color: #aaa;
  text-decoration: none;
}

.links a:hover {
  color: white;
}

.end-section {
  text-align: center;
  gap: 2px;
  margin: auto;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-btn:hover {
  background: #666;
}

.google-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 500;
}

.google-icon {
  width: 20px;
  height: 20px;
}
